.container {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    flex-direction: column;
  }
  h5{
    font-size: 35px;
    text-align: center;
  }
  #image {
    display: flex;
    text-align: center;
    width: 100%;
    height: 30vh;
}

#image img {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 20vw;
    /*to make the height and width responsive*/
    width: 20vw;
    background: url('clock.png') no-repeat;
    /*setting our background image*/
    background-size: 100%;
    }
    
    #hour,
    #minute,
    #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    }
    
    #hour {
    width: 1.8%;
    height: 18%;
    top: 38%;
    left: 48.38%;
    opacity: 0.8;
    }
    
     #minute {
    width: 1.6%;
    height: 24%;
    top: 30%;
    left: 48.5%;
    opacity: 0.8;
    } 
    
    #second {
    width: 1%;
    height: 30%;
    top: 25%;
    left: 48.88%;
    opacity: 0.8;
    } 
  #alarm{
    justify-content: center;
    align-items: center;
  }
    #alarm select {
        background-color: white;
        padding: 10px;
        font-size: 15px;
        border: 1px solid gray;
        border-radius: 12px;
        outline: none;
        text-decoration: none;
        margin: 5px;
      }

      #alarm select:hover {
        text-decoration: none!important;
        box-shadow: 0 0 4px #2196f3, 0 0 8px #2196f3, 0 0 12px #2196f3;
      }
      
      .buttons {
        margin: 20px;
        text-align: center;
      }
      #para {
        margin: 20px;
        color: white;
      }
      #btn,
      #clearAlarm {
        color: white;
        margin: 10px;
        background: hsl(350, 93%, 46%);
        border: 0;
        border-radius: 24px;
        padding: 8px 25px;
        width: 200px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
      }
      
      #btn:hover,
      #clearAlarm:hover {
        box-shadow: 0 0 4px #2196f3, 0 0 8px #2196f3, 0 0 12px #2196f3;
      
        transform: scale(1.05);
      }
      #time{
        color: hsl(0, 100%, 99%);
  background: red;
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: -100px;
      }